.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap {
    margin-bottom: 1.25rem;
}

.label {
    margin-right: 1.25rem;
}

.btn {
    width: 80vw;
    height: 2.5rem;
}