/* .wrap {
    border: 1px solid #000;
} */

.btn {
    width: 50px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 0.625rem;
    font-size: 10px;
}

.meanBtn {
  border: 2px solid #FFBBBB;
  background-color: transparent;
}

.delBtn{
    background-color: #FFBBBB;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
  width: 20%;
  height: 5vh;
  text-align: center;
  font-size: 1rem;
}

table td:first-child {
  width: 10%;
}

table td:last-child {
    width: 30%;
}